/* CSS */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700,300&subset=latin,cyrillic);

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background: #eee;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	font-size: 20px;
	color: #666;
}

h1 { font-size: 32px; }

p { color: blue; }

.center {
	text-align: center;
	width: 500px;
	padding: 10px;
	margin: 200px auto 0;
	border: 1px solid #666;
}

input[type="text"] {
	width: 200px;
	padding: 3px;
}